*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Greta Sans Medium","Greta Sans Regular",Arial,sans-serif;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  padding: 0 15%;
}

